.card {
  background-color: #fff;
  width: fit-content;
  margin-top: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.item {
  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
  width: 350px;
}

.item > div {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.card img {
  width: 80%;
  height: auto;
}
